
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: roboto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* APP */

 

/* Container */
.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* Todos list */

.title{
  text-align: center;
}
.todos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.todo{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  width:50%;
  font-size: 1.5rem;
  border-radius: 10px;
}
.mutations{
  display: flex;
  gap: 0.5rem ;
}
.todo-status
.todo-delete{
  border: none;
  padding: 0; 
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}
.form {
  display: flex;
  gap: 0.5 rem;
  width: 50%;
  margin: 1rem auto;
}
.form-input{
  flex: 1;
  padding: 0.25rem 0.5rem;


}
@media (max-width: 420px){
  .title{
    font-size: 2.5rem;
  }
  .form{
    width: 95%;
  }
  .todo{
    width: 90%;
    font-size: 1.2rem;
  }
}
